



<footer class="small-12 columns content__footer" role="contentinfo">
     <hr />
     {{ page.footer }}
   </footer>



<footer class="marketing-site-footer">
 <div class="row medium-unstack">
   <div class="medium-4 columns mistral2">
     <h4 class="marketing-site-footer-name ">Music Must</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.</p>
     <ul class="menu marketing-site-footer-menu-social simple">
       <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
     </ul>
   </div>
   <div class="medium-4 columns mistral2">
      <h2 class="marketing-site-footer-title">Επικοινωνία</h2>
     <div class="marketing-site-footer-block">
       <i class="fa fa-map-marker" aria-hidden="true"></i>
       <p>100 W Rincon<br>......</p>
     </div>
     <div class="marketing-site-footer-block">
       <i class="fa fa-phone" aria-hidden="true"></i>
       <p>........</p>
     </div>
     <div class="marketing-site-footer-block">
       <i class="fa fa-envelope-o" aria-hidden="true"></i>
       <p>nikpak78@gmail.com</p>
     </div>
   </div>
   <div class="medium-4 columns ">
     <h4 class="marketing-site-footer-title">Radio Links</h4>
     <div class="row small-up-3 koukou">
       <div class="column column-block">
         <img src="../../../../sites/default/files/images/slice/alternative.png" alt="" />
       </div>
       <div class="column column-block">
         <img src="../../../../sites/default/files/images/slice/electromica.png" alt="" />
       </div>
       <div class="column column-block">
         <img src="../../../../sites/default/files/images/slice/blackmusic.png" alt="" />
       </div>
       <div class="column column-block">
         <img src="../../../../sites/default/files/images/slice/worldmusic.png" alt="" />
       </div>
       <div class="column column-block">
         <img src="../../../../sites/default/files/images/slice/saoundracks.png" alt="" />
       </div>
       <div class="column column-block">
         <img src="../../../../sites/default/files/images/slice/oldtimerock.png" alt="" />
       </div>
     </div>
   </div>
 </div>




 <div class="marketing-site-footer-bottom">
   <div class="row large-unstack align-middle">
     <div class="column">
       <p>&copy; 2018 No rights reserved</p>
     </div>
     <div class="column">
       <ul class="menu marketing-site-footer-bottom-links">
          {{ page.search }}
       </ul>
     </div>
   </div>

</footer>
