<section class="section-b pano mistral2">
      <h3>Ραδιόφωνo που ίσως πρέπει να ακούσεις !</h3>

    </section>

<section class="section-c">
       <div class="row">
        <div class="columns large-3">
          <p><a href="http://www.apotis4stis5.com/" target="_blank"><img alt="apotis" data-entity-type="file" data-entity-uuid="d458ee69-2f10-4d8e-ab5d-0b7c662d04f8" src="/sites/default/files/inline-images/4-5Logo_1_0.jpg" /></a></p>
          <h4>Από τις 4 στις 5</h4>
          <p>Η μακροβιότερη εκπομπή στο Ελληνικό Ραδιόφωνο,από το 1975 έως και σήμερα με τον Γιάννη πετρίδη.</p>
        </div>
        <div class="columns large-3">
         <p><a href="http://www.kcrw.com/music/shows/eclectic24" target="_blank"><img alt="krsw" data-entity-type="file" data-entity-uuid="799120fb-7c68-4f49-9178-6b9298197cdf" src="/sites/default/files/inline-images/Untitled-1_0_0.png" /></a></p>
          <h4>KCRW</h4>
          <p>blending the collected talents and tastes of KCRW's DJs into a single voice. Free music streaming 24/7 at KCRW.com.</p>
        </div>
        <div class="columns large-3">
          <p><a href="https://www.radioparadise.com" target="_blank"><img alt="rp" data-entity-type="file" data-entity-uuid="30f9481a-6e33-463b-a068-cf4c9ddb7a29" src="/sites/default/files/inline-images/paradise_0.png" /></a></p>
          <h4>Radio Paradise</h4>
          <p>Modern &amp; classic rock, world music, electronica, and more - plus an engaged and active listener community..</p>
        </div>
        <div class="columns large-3">
          <p><a href="https://www.bbc.co.uk/6music" target="_blank"><img alt="bbc6" data-entity-type="file" data-entity-uuid="963684a3-5cd8-488e-a54b-12f4ab806665" src="/sites/default/files/inline-images/bbc6_0.png" /></a></p>
          <h4>Radio BBC 6</h4>
          <p>BBC 6 Music brings together the cutting edge music of today, the iconic and groundbreaking music of the past 40 years.</p>
        </div>
      </div>

    </section>
