
<div class="row panomeros">

<div class="medium-8 columns thing-two ">

{{ page.promoted }}

</div>
<div class="medium-4 columns  roze spin-wc hide-for-small-only">
	{{ page.articleone }}
	{{ page.articletwo }}

			</div>



</div>
