<div class="callout  ">
<div class="media-object">

  <div class="media-object-section">
    <div class="thumbnail">
    {{ fields['field_image'].content}}
    </div>
  </div>
  <div class="media-object-section promo">
    <h6>{{ fields['title'].content}}</h6>
    <p>{{ fields['body'].content}}</p>
    <p>{{ fields['view_node'].content}}</p>

  </div>
  </div>
</div>
